div(id="modalAddGroup" class="modal")
    .modal-content
        .modal-header
            span(class="close" onclick="document.getElementById('modalAddGroup').style.display='none'") &times;
            h2 Modal Header 
        .modal-body
            p Body Group
        .modal-footer
            button(onclick="document.getElementById('modalAddGroup').style.display='none'") Anuluj
            button Dodaj
