div(id="modalAddApiary" class="modal")
    .modal-content
        .modal-header
            span(class="close" onclick="closeModal('/apiary')") &times;
            h2 Dodaj Pasiekę
        .modal-body
            form(id="form-addapiary")
                .inputBox.name
                    label Nazwa: 
                    input(type="text" name="apiaryName")
                .inputBox.date
                    label Data stworzenia:
                    input(type="datetime-local" name="apiaryCreationDate") 
                input(type="submit" style="display: none")
        .modal-footer
            button(onclick="closeModal('/apiary')") Anuluj
            button(name="Add" onclick="validateAddApiary()") Dodaj
