div(id="modalAddApiary" class="modal")
    .modal-content(action="/apiary")
        .modal-header
            span(class="close" onclick="closeModal(this)") &times;
            h2 Dodaj Pasiekę
        .modal-body
            form
                .inputBox.apiaryName
                    label Nazwa: 
                    input(type="text" not-null="true" name="apiaryName")
                .inputBox.creationDate
                    label Data stworzenia:
                    input(type="datetime-local" not-null="true" 
                        name="creationDate") 
        hr
        .modal-footer
            button(onclick="closeModal(this)") Anuluj
            button(onclick="validateModal(this)") Dodaj
