div(id="modalAddGroup" class="modal")
    .modal-content(action="/group")
        .modal-header
            span(class="close" onclick="closeModal(this)") &times;
            h2 Dodaj Grupę
        .modal-body
            form
                .inputBox.apiaryID
                    label Pasieka: 
                    select(not-null="true" name="apiaryID")
                        option(value="") 
                .inputBox.groupName
                    label Nazwa grupy: 
                    input(type="text" not-null="true" name="groupName")
                .inputBox.creationDate
                    label Data stworzenia:
                    input(type="datetime-local" not-null="true" 
                        name="creationDate") 
        hr
        .modal-footer
            button(onclick="closeModal(this)") Anuluj
            button(onclick="validateModal(this)") Dodaj
