div(id="modalAddFamily" class="modal")
    .modal-content(action="/family")
        .modal-header
            span(class="close" onclick="closeModal(this)") &times;
            h2 Dodaj Rodzinę
        .modal-body
            form
                .inputBox.apiaryID
                    label Pasieka: 
                    select(not-null="true" name="apiaryID" 
                            onchange="onChangeApiary(this)")
                        option(value="")
                .inputBox.groupID
                    label Nazwa grupy: 
                    select(name="groupID" onchange="onChangeGroup(this)")
                        option(value="")
                .inputBox.hiveID
                    label Numer ula: 
                    select(not-null="true" name="hiveID")
                        option(value="")
                .inputBox.creationDate
                    label Data stworzenia:
                    input(type="datetime-local" not-null="true" 
                        name="creationDate") 
        hr
        .modal-footer
            button(onclick="closeModal(this)") Anuluj
            button(onclick="validateModal(this)") Dodaj
