div(id="modalAddFamily" class="modal")
    .modal-content(action="/family")
        .modal-header
            span(class="close" onclick="closeModal(this)") &times;
            h2 Dodaj Rodzinę
        .modal-body
            form
                .inputBox.apiaryName
                    label Pasieka: 
                    select(not-null="true" name="apiaryName" 
                            onchange="onChangeApiary(this)")
                        option(value="")
                .inputBox.groupName
                    label Nazwa grupy: 
                    select(name="groupName" onchange="onChangeGroup(this)")
                        option(value="")
                .inputBox.hiveNum
                    label Numer ula: 
                    select(not-null="true" name="hiveNum")
                        option(value="")
                .inputBox.creationDate
                    label Data stworzenia:
                    input(type="datetime-local" not-null="true" 
                        name="creationDate") 
        .modal-footer
            button(onclick="closeModal(this)") Anuluj
            button(onclick="validateModal(this)") Dodaj
