div(id="modalAddHive" class="modal")
    .modal-content(action="/hive")
        .modal-header
            span(class="close" onclick="closeModal(this)") &times;
            h2 Dodaj Ul
        .modal-body
            form
                .inputBox.apiaryID
                    label Pasieka: 
                    select(not-null="true" name="apiaryID" 
                            onchange="onChangeApiary(this)")
                        option(value="") 
                .inputBox.groupID
                    label Nazwa grupy: 
                    select(name="groupID")
                        option(value="")
                .inputBox.hiveNum
                    label Numer ula: 
                    input(type="number" not-null="true" name="hiveNum")
                .inputBox.creationDate
                    label Data stworzenia:
                    input(type="datetime-local" not-null="true" 
                        name="creationDate") 
        .modal-footer
            button(onclick="closeModal(this)") Anuluj
            button(onclick="validateModal(this)") Dodaj
