div(id="modalAddGroup" class="modal")
    .modal-content
        .modal-header
            span(class="close" onclick="closeModal('/group')") &times;
            h2 Dodaj Grupę
        .modal-body
            form(id="form-addgroup")
                .inputBox.apiaryName
                    label Pasieka: 
                    select(name="apiaryName")
                        option(value="") 
                .inputBox.date
                    label Data stworzenia:
                    input(type="datetime-local" name="groupCreationDate") 
                .inputBox.groupName
                    label Nazwa grupy: 
                    input(type="text" name="groupName")
                input(type="submit" style="display: none")
        .modal-footer
            button(onclick="closeModal('/group')") Anuluj
            button Dodaj
