
div(id="modalInspection" class="modal")
	.modal-content(action="/inspection" action-type="POST")
		.modal-header
			span(class="close" onclick="closeModal(this)") &times;
			h2 Przegląd
		.modal-body
			form
				.inputBox.apiaryID
					label Pasieka: 
					select(not-null="true" name="apiaryID" 
							onchange="onChangeApiaryOccupied(this)")
						option(value="")
				.inputBox.groupID
					label Nazwa grupy: 
					select(name="groupID" onchange="onChangeGroupOccupied(this)")
						option(value="")
				.inputBox.hiveID
					label Numer ula: 
					select(not-null="true" name="hiveID")
						option(value="")
				.inputBox.creationDate
					label Data przeglądu:
					input(type="date" not-null="true" 
						name="creationDate")
				.inputBox.state
					label Stan: 
					select(not-null="true" name="state")
						option(value="")
				.inputBox.size
					label Wielkość: 
					select(not-null="true" name="size")
						option(value="")
				.inputBox.comment
					label Uwagi: 
					textarea(name="comment", cols="30", rows="2")
		hr
		.modal-footer
			button.secondary(onclick="closeModal(this)") Anuluj
			button(onclick="validateModal(this)") Dodaj
