doctype html
html(lang="pl")
    head 
        title=title
        block styles
            include includes/styles
        block scripts 
        
    body 
        .page-wrapper 
            include includes/header
            block content
        #AlertBox