
.apiary-container{
	background-color: #bbbbbb;
	margin: 2px;
	padding: 2px;
	border-radius: 4px;
}


.apiary-container .apiary-content{
	display: flex;
    flex-flow: row wrap;
}

.apiary-container .group-container{
	background-color: #cccccc;
	padding: 2px;
	border: 1px solid #aaaaaa;
	border-radius: 4px;
	margin: 2px;
}

.apiary-container .group-container .group-content{
	display: flex;
    flex-flow: row wrap;
}

.apiary-container .hive-elem {
	height: 100px;
	width: 200px;
	background-color: #dddddd;
	border: 1px solid #aaaaaa;
	border-radius: 2px;
	margin: 2px;
	transition: 0.3s;
}

.apiary-container .hive-elem:hover {
	cursor: pointer;
	box-shadow: 0 0 8px 4px #888888;
	transform: scale(1.05); 
}

.apiary-container .hive-elem .hive-menu{
	visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}

.apiary-container .hive-elem:hover .hive-menu {
	visibility: visible;
  }

.apiary-container .occupied{
	background-color: #008744;
	color: white;
}

