
/* -------------------------------- Main -------------------------------- */
.apiary-container{
	background-color: #bbbbbb;
	margin: 2px;
	padding: 2px;
	border-radius: 4px;
}


.apiary-container .apiary-content{
	display: flex;
    flex-flow: row wrap;
}

.apiary-container .header-text{
	padding: 10px;
	height: 18px;
	transition: 0.4s;
}

.apiary-container .header-text:hover{
	cursor: pointer;
	color: white;
	transition: 0.1s;
}

.apiary-container .menu{
	visibility: hidden;
    width: 120px;
    background-color: #ffffff;
    color: black;
    text-align: center;
    border-radius: 2px;
    border: solid 1px #ccc;
    z-index: 2;
}

.apiary-container .hive-elem:hover .menu, 
.apiary-container .header-text:hover .menu {
	visibility: visible;
}

.apiary-container .menu .menu-item{
	padding: 4px 0;
	border-radius: 2px;
}

.apiary-container .menu .menu-item:hover{
	background-color: #ddd;
}

.apiary-container .apiary-header{
	display: flex;
}

/* -------------------------------- Group -------------------------------- */
.apiary-container .group-container{
	background-color: #cccccc;
	padding: 2px;
	border: 1px solid #aaaaaa;
	border-radius: 4px;
	margin: 2px;
}

.apiary-container .group-container .group-content{
	display: flex;
    flex-flow: row wrap;
}

.apiary-container .group-container .group-header{
	display: flex;
}

.apiary-container .group-menu{
    position: relative;
    margin-left: -60px;
	margin-top: 2px;
	left: 30%;
    top: 2px;
}


/* -------------------------------- Hive -------------------------------- */
.apiary-container .hive-elem {
	height: 100px;
	width: 200px;
	background-color: #dddddd;
	border: 1px solid #aaaaaa;
	border-radius: 2px;
	margin: 2px;
	transition: 0.4s;
}

.apiary-container .hive-elem:hover {
	cursor: pointer;
	box-shadow: 0 0 8px 4px #888888;
	transform: scale(1.05); 
	transition: 0.1s;
}

.apiary-container .hive-menu{
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -60px;
	margin-top: 2px;
}

.apiary-container .occupied{
	background-color: #008744;
	color: white;
}

