extends ../layout
include ../includes/header-links

append styles 
    link(rel="stylesheet" href="/css/modal.css")
    link(rel="stylesheet" href="/css/apiary-grid.css")
    link(rel="stylesheet" href="/css/fontawesome.css")

append scripts 
    script(src='js/modal.js')
    script(src='js/jQuery.js')
    script(src='js/apiaryMain.js')

append links
    +header('Pasieka')

block content
    #dashboard 
        .title-container
            h1 Pasieka
        .button-container
            button(onclick="loadAddApiary()") Dodaj Pasiekę
            button(onclick="loadAddGroup()") Dodaj Grupę
            button(onclick="loadAddHive()") Dodaj Ul 
            button(onclick="loadAddFamily()") Dodaj Rodzinę
        .apiary-main
            

    .modal-container
        include ../modals/add-apiary-modal
        include ../modals/add-group-modal
        include ../modals/add-hive-modal
        include ../modals/add-family-modal
        include ../modals/delete-family-modal
        
