extends ../layout
include ../includes/header-links

append styles 
    link(rel="stylesheet" href="css/modal.css")

append scripts 
    script(src='js/modal.js')
    script(src='js/jQuery.js')

append links
    +header('Pasieka')

block content
    .dashboard 
        h1 Pasieka
        .button-list
            button(onclick="loadAddApiary()") Dodaj Pasiekę
            button(onclick="loadAddGroup()") Dodaj Grupę Uli 
            button Dodaj Ul 
            button Dodaj Rodzinę

        include ../modals/add-apiary-modal
        include ../modals/add-group-modal
        
