extends ../layout
include ../includes/header-links

append scripts 
    script(src='../../js/qrcode.min.js')
    script(src='../../js/hiveMain.js')
    script(src='../../js/jQuery.js')

append links
    +header('Pasieka')

block content
    #dashboard 
        .title-container
            h1 Ul
            span=hiveID

        #qr-code
        